<div class="root">
    <div class="navbar nav">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">
                    Kanban
                </h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">
                <!-- {{board.name}} -->
                João' Board
            </p>
        </div>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let status of columns">

                    <div class="column-title">
                        {{status.name}}
                    </div>

                    <div *ngIf="status.name == 'toDo'">
                        <div class="tasks-container" cdkDropList [cdkDropListData]="toDoTasks"
                            (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of toDoTasks" cdkDrag>
                                <a [routerLink]="['/task/'+ item.id]">{{ item.title }}</a>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="status.name == 'Doing'">
                        <div class="tasks-container" cdkDropList [cdkDropListData]="doingTasks"
                            (cdkDropListDropped)="drop($event)">
                                <div  class="task" *ngFor="let item of doingTasks" cdkDrag>
                                    <a [routerLink]="['/task/'+ item.id]">{{ item.title }}</a>
                                </div>
                        </div>
                    </div>

                    <div *ngIf="status.name == 'Done'">
                        <div class="tasks-container" cdkDropList [cdkDropListData]="doneTasks"
                            (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of doneTasks" cdkDrag>
                                <a [routerLink]="['/task/'+ item.id]">{{ item.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="button-add-task">
                        <button [routerLink]="'/task/column/'+ status.id" class="button is-primary js-modal-trigger">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>