<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">
                    Kanban
                </h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">
                {{board.name}}
            </p>
        </div>

        <div class="board-wrapper">

            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let status of board.columns">

                    <div class="column-title">
                        {{status.name}}
                    </div>
          
                    <div *ngIf="status.name == 'Todo'">
                        <div class="tasks-container"  
                        cdkDropList
                        [cdkDropListData]="tasksToDo"
                        (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of tasksToDo" cdkDrag>
                                {{ item.title }}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="status.name == 'Doing'">
                        <div class="tasks-container"  
                        cdkDropList
                        [cdkDropListData]="tasksDoing"
                        (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of tasksDoing" cdkDrag>
                                {{ item.title }}
                            </div>
                        </div>
                    </div>

                    <div *ngIf="status.name == 'Done'">
                        <div class="tasks-container"  
                        cdkDropList
                        [cdkDropListData]="tasksDone"
                        (cdkDropListDropped)="drop($event)">
                            <div class="task" *ngFor="let item of tasksDone" cdkDrag>
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                    
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>


