@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

$family-sans-serif: "Signika", sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body{
    height: 100%;
    background-color: rgb(0, 55, 78);

}

html{
    background-size: cover;
    overflow-y: auto;
}